.header{
    width:100%;
}

.logoPokedex{
    height: 170px;
    padding-top: 10px;
    @media all and(max-width: 500px) {
        height: 110px;
    }
}

.logoPikachu{
    position: relative;
    left:20%;
    height: 140px;
    @media all and(max-width: 500px) {
        height: 100px;
    }
}