.pokeList{
    display: grid;
    @media all and(max-width: 500px) {
       grid-template-columns: 1fr;
       width:230px;
       gap: 20px;
    }

    @media all and(min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr;
        width:90%;
        gap: 20px;
     }
     @media all and(min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
        width:90%;
        gap: 20px;
  }
}
.pokeItemList{
    list-style: none;
}