
.pokeTypeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    background-color:rgba(0, 0, 0,0.7px);
    width: 100%;
    padding:0 10px;
    border-radius: 2px;
}
.pokeTypeItem{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 14px;
    background-color:white;
    height:22px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    padding:3px 6px 5px 6px;
    border:solid 1px black;
}

.alone{
    display: grid;
    grid-template-columns: 1fr;
}

.pokeId{
    justify-self: left;
    color: rgba(0, 0, 0,0.7px);
    background-color:white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    padding:4px;
    margin:4px;
}

