.pokeCard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    height: 270px;
    width:100%;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 14px 13px 31px -12px rgb(88, 75, 1);
}

.pokeCardBack{
    border-radius: 5px;
    height: 270px;
    position: absolute;
    z-index: 0;
    @media all and(max-width: 500px) {
        width:110px;
    } 
     @media all and(min-width: 600px) {
        width:13%;
     }
     @media all and(min-width: 1200px) {
        width:8%;
  }
}

.pokePicture{
    height: 150px;
}

.pokeName{
    text-transform: capitalize;
    text-align: center;
    color:white;
    padding-top:5px;
    width:100%;
    background-color:rgba(0, 0, 0,0.7px);
}


.bug{
    background-color: rgb(122, 81, 5);
}
.poison{
    background-color: rgb(159, 204, 36);

}
.grass{
    background-color: rgb(74, 124, 18);

}
.fire{
    background-color: rgb(255, 115, 0);

}
.water{
    background-color: rgb(0, 195, 255);
}
.flying{
    background-color: rgb(224, 228, 228);
}
.normal{
    background-color: rgb(133, 0, 93);
}

.electric{
    background-color: rgb(241, 245, 0);
}
